{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "relay",
    "transform-flow-comments",
    ["module-resolver", {
      "alias": {
        "^react-native$": "react-native-web"
      }
    }],
    ["import", { "libraryName": "antd", "style": false }]
  ]
}
